<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Guillermo García | Información personal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="#landing-page">
            <img src="/static/images/sol.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/myfoto.jpeg" alt="guillermo garcia" class="profile-pic nav-link" />
              <span class="caption nav-link">Guillermo García</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">¿Quién soy?</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Servicios</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Experiencias</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contáctame</a>
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCq2NaQczn61LtEuzW8fkQnQ" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/guillermo.garciavigil/" target="_blank" class="nav-link">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/guille_gacia" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Guille García</h2>
          <h3>{Front-End Web Developer}</h3>
          <p>Ingeniero de negocios</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contáctame</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Experiencias</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/myfoto.jpeg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>¿Quién soy?</h2> 
          <p>
            Hola, soy Guillermo Alejandro García, un estudiante de ingeniería de negocios. 
            Mi país de residencia es El Salvador donde en la actualidad realizo mi estudio 
            superior en la escuela superior de economía y negocios (ESEN) donde inicie mis 
            estudios en el 2019.
          </p>
          <p>
            Hoy en día puedo decir, que con el conocimiento obtenido a lo largo de estos tres
            años aprendí a poner crear programas y manejar bases de datos a un cierto nivel. 
            Asimismo, en este periodo he aprendido muchas cosas que sé que en el futuro me serán 
            de gran utilidad.
     
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/servicio1.png" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Servicios</h2>
          <p>
            En un futuro no muy lejano
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Responsive Design</h2>
            <p>
                En el futuro planeo trabajar como analista en el área de producción optimizando
                los procesos de fabricación o un administrador en el área de finanzas y derivados.
                Asimismo, se ofrece el servicio de contabilidad en el área de microempresas y 
                asesoramiento de cómo hacer crecer un negocio.  

              
            
            </p>
          </div>

          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Experiencias</h2>
        <p>Lo que llama más la ateción de uno son sus experiencias</p>
      </div>
      
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/expe.jpg" />
        </div>
        <div class="project-description">
          <h2>Project Progress Management System</h2>
          <p>
            las experiencias son diversas, por el momento tengo experiencia en el uso de 
            base de datos en sql y programación con el lenguaje de Python y java. Asimismo, 
            se espera realizar pasantías durante este año y el próximo. Además, le dejare 
            abajo un link donde puede ver una referencia de la programación en proyectos anteriores.
          </p>
          <a href="https://github.com/sofiadenice/Entrega-Final---Proyecto-Python-.git" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
        <hr />
    </section>

  

    <section id="contact" class="contact">
      <h2>Contáctame</h2>
      <p>
        Espero ser tu apoyo en tus proyectos o ayudarte a crecer con tus metas con mi conocimiento. 
      </p>
      <p>
        <i>Si nesecitas de mi, no pienses dos veces 
          <strong>CONTÁCTAME</strong></i>
      </p>
      <div class="container">
        <p>
          <a href=https://outlook.live.com/><i class="fas fa-envelope-open"></i>guillermo_garcia_vigil@outlook.com</a>
        </p>
        <p>
          
          <a href="https://www.youtube.com/channel/UCq2NaQczn61LtEuzW8fkQnQ" target="_blank"><i class="fab fa-youtube"> YouTube</i></a>
        </p>
        <p>
          <a href="https://www.facebook.com/guillermo.garciavigil/" target="_blank"><i class="fab fa-facebook"> Facebook</i></a>
        </p>
        <p>
          <a href="https://twitter.com/guille_gacia" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">¿Quién soy?</a>
        <a href="#services" class="footer-nav-link">Servicios</a>
        <a href="#projects" class="footer-nav-link">Experiencias</a>
        <a href="#contact" class="footer-nav-link">Contáctame</a>
        <br>
        <br>
        <br>
      </div>
      <div class="footer-social">
        <a href="https://www.youtube.com/channel/UCq2NaQczn61LtEuzW8fkQnQ" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.facebook.com/guillermo.garciavigil/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/guille_gacia" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>